作業目標:<br>
1. 運用索引找出需要資料<br>
2. 合併資料的分法應用

作業重點:<br>
1. 分辨索引loc、iloc差別
2. 分辨合併資料方法的不同，因應不同情況使用Merge, join, concatenate

題目:<br>
讀取STOCK_DAY_0050_202009.csv串聯STOCK_DAY_0050_202010.csv，並且找出open小於close的資料

In [2]:
import pandas as pd

In [9]:
#讀取STOCK_DAY_0050_202009.csv、STOCK_DAY_0050_202010.csv
SD09 = pd.read_csv('STOCK_DAY_0050_202009.csv',usecols=['open','close'])
SD10 = pd.read_csv('STOCK_DAY_0050_202010.csv',usecols=['open','close'])

In [10]:
#串聯
SDT = pd.concat([SD09,SD10],axis=0)
print(SDT)

      open   close
0   102.45  103.35
1   103.65  103.00
2   103.70  103.30
3   102.00  102.55
4   102.55  102.40
5   102.75  103.00
6   101.75  102.30
7   102.80  103.20
8   103.20  103.25
9   103.50  104.55
10  104.45  104.95
11  106.55  106.55
12  106.05  105.40
13  105.40  105.30
14  105.20  104.45
15  104.30  103.10
16  103.50  102.95
17  101.55  100.45
18  100.75  100.65
19  101.35  102.30
20  102.75  102.55
21  102.75  103.00
0   103.45  103.05
1   104.00  104.25
2   104.00  104.80
3   105.45  106.20
4   106.70  107.05
5   107.35  107.10
6   107.05  106.70
7   106.50  105.70
8   105.70  105.25
9   105.65  106.60
10  106.40  106.00
11  106.00  105.95
12  105.70  106.10
13  106.50  106.10
14  106.10  106.10
15  105.75  105.50
16  105.50  105.00
17  104.00  103.85
18  103.55  103.00

In [11]:
#找出open小於close的資料
SDT[SDT.open<SDT.close]

      open   close
0   102.45  103.35
3   102.00  102.55
5   102.75  103.00
6   101.75  102.30
7   102.80  103.20
8   103.20  103.25
9   103.50  104.55
10  104.45  104.95
19  101.35  102.30
21  102.75  103.00
1   104.00  104.25
2   104.00  104.80
3   105.45  106.20
4   106.70  107.05
9   105.65  106.60
12  105.70  106.10